{{#each result}}
    <div class="cookie" data={{id}}>
        <h1>Category:{{category}}</h1>
        <p>Text:{{text}}</p>
        <p>
            <a class="like">Likes:{{likes}}</a>
            <a class="dislike">Dislikes:{{dislikes}}</a>
        </p>
        <img src={{img}}>
        <p>Data:{{shareDate}}</p>
    </div>
{{/each}}